{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cart-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="cartDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cart ({{ cart_items.count }})
    </button>
    <div class="dropdown-menu" aria-labelledby="cartDropdown">
      {% for item in cart_items %}
        <a class="dropdown-item" href="#">{{ item.product.name }} ({{ item.quantity }})</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}