{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="jumbotron landing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="display-4">Welcome to Genghis Fitness</h1>
                    <p class="lead">We provide the best fitness products for your workout needs.</p>
                    <a href="{% url 'products:product_list' %}" class="btn btn-dark btn-lg">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
