{% extends 'base.html' %}

{% block content %}
  <h1>Wishlist</h1>

  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  {% if wishlist %}
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Size</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in wishlist.items.all %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.size }}</td>
            <td>
              <button class="remove-item" id="remove_{{ item.id }}" data-item_id="{{ item.id }}" data-product_id="{{ item.product.id }}" data-product_size="{{ item.size }}">Remove</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Your wishlist is empty.</p>
  {% endif %}
  
  <script>
    $('.remove-item').click(function(e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var productId = $(this).data('product_id');
      var productSize = $(this).data('product_size');
      var url = `/wishlist/remove/${itemId}/`;
      var data = {
        'csrfmiddlewaretoken': csrfToken,
        'product_id': productId,
        'product_size': productSize
      };

      $.post(url, data)
        .done(function() {
          location.reload();
        });
    });
  </script>
  
{% endblock %}
