{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-8">
            <h1 class="mt-4">{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p class="card-price">£{{ product.price }}</p>
            <p>Average Rating: {{ average_rating|floatformat:1 }}/5</p>
            {% if user.is_authenticated %}
                {% if not has_rated %}
                    <form method="post" action="{% url 'products:rate_product' product.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="rating">Rate this product:</label>
                            <select class="form-control" id="rating" name="rating">
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Rating</button>
                    </form>
                {% else %}
                    <p>You have already rated this product.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
