{% extends "base.html" %}
{% load static %}

{% block page-header %}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Product Page</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Categories</h4>
                    <ul class="list-group">
                        {% for category in categories %}
                        <li class="list-group-item">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <a href="{% url 'product_detail' product.pk %}">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'product_detail' product.pk %}">{{ product.name|title }}</a>
                    </h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-price">£{{ product.price }}</p>
                    <form class="add-to-cart-form">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="button" class="btn btn-primary add-to-cart-button">Add to Cart</button>
                    </form>
                    <div class="ratings">
                        {% if product.average_rating %}
                        <p class="average-rating">Average Rating: {{ product.average_rating }}</p>
                        {% else %}
                        <p class="no-rating">No ratings yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if message %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<script>
    setTimeout(function () {
        $(".alert").alert("close");
    }, 3000);
</script>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
